:root {
  --white: rgb(228, 228, 228);
  --header: rgb(79, 48, 121);
  --charDay: rgb(33, 33, 126);
  --photoGroup: #264e7f;
  --accent: orange;
  --link: rgb(216, 117, 255);
  --info: rgb(0, 0, 0);
}

html,
body {
  color: var(--white);
  background-color: var(--charDay);
  min-height: 100vh;
  margin: 0;
  text-align: center;
  font-family: "Patrick Hand", cursive;
  font-size: 1.15rem;
  overflow-x: hidden;
}

section {
  --pad-width: 22vw;
  padding: 0 var(--pad-width);
}

section#header {
  background-color: var(--header);
}

#header h1 {
  margin: 0;
  padding-top: 2vh;
  padding-bottom: 2vh;
}

#header h3 {
  margin: 0;
}

.container {
  position: relative;
  height: 20vh;
}

.wave {
  position: absolute;
  height: 76px;
  width: 100%;
  left: 0;
  background: var(--header);
  bottom: 0;
}

.wave::before,
.wave::after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 100% 50%;
}

.wave::before {
  width: 55%;
  height: 109%;
  background-color: var(--charDay);
  right: -1.5%;
  top: 60%;
}

.wave::after {
  width: 55%;
  height: 100%;
  background-color: var(--header);
  left: -1.5%;
  top: 40%;
}

section#charDay {
  padding-top: 8vh;
  padding-bottom: 5vh;
  background-color: var(--charDay);
  text-align: center;
  display: -ms-grid;
  display: grid;
  -webkit-column-gap: 2rem;
          column-gap: 2rem;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
      grid-template-areas: "photoGroup description" "photoGroup description" ". description";
}

#charDay div#photoGroup {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: photoGroup;
  padding: 1.5rem;
  border-radius: 40px;
  background-color: var(--photoGroup);
  display: -ms-grid;
  display: grid;
  -webkit-column-gap: 2rem;
          column-gap: 2rem;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
      grid-template-areas: "picture names" "picture ." "picture titles";
}

div#photoGroup div#photo {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 1;
  grid-area: picture;
  margin: 0 auto;
  height: 320px;
  width: 218px;
  background-position: center;
  background-size: auto;
  background-repeat: no-repeat;
  -webkit-box-shadow: 2px 3px 10px black;
          box-shadow: 2px 3px 10px black;
  border-radius: 25px;
}

div#photoGroup ul#names {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: names;
  list-style: none;
  padding: 0;
}

div#photoGroup ul#names li {
  text-transform: uppercase;
  color: var(--accent);
  font-size: 1.3rem;
}

div#photoGroup ul#names li:first-of-type {
  font-size: 1.6rem;
}

div#photoGroup ul#titles {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: titles;
  list-style: none;
  padding: 0;
}

div#photoGroup ul#titles li {
  color: var(--white);
}

#charDay div#description {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 2;
  grid-area: description;
}

#description p {
  margin: 0.5rem 0;
}

#description a {
  color: var(--link);
  text-decoration: none;
}

#description a:hover {
  text-decoration: underline;
}

@media (max-width: 1400px) {
  section#charDay {
        grid-template-areas: "photoGroup" "description";
    row-gap: 2vh;
  }
}

@media (max-width: 900px) {
  section {
    --pad-width: 9vw;
  }
}

@media (max-width: 600px) {
  section {
    --pad-width: 2vw;
  }
}
/*# sourceMappingURL=styles.css.map */